@import "../../styles/mixins.module.scss";

@media (max-width: 599px) {
  .dummy-stripe-form {
    width: 90%;
  }
}
@media (max-width: 450px) {
  .dummy-stripe-form {
    width: 90%;
  }
}
@media (min-width: 599px) {
  .dummy-stripe-form {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .dummy-stripe-form {
    width: 50%;
  }
}
@media (min-width: 2400px) {
  .dummy-stripe-form {
    width: 30%;
  }
}

.dummy-stripe-form {
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      display: block;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: bold;
    }

    input[type="text"],
    input[type="email"] {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #fff;
      color: black;
      width: 100%;
      transition: border-color 0.3s ease-in-out;

      &:focus {
        border-color: #5e9cd3;
      }
    }

    .StripeElement {
      display: block;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #fff;
      transition: border-color 0.3s ease-in-out;

      &:focus {
        border-color: #5e9cd3;
      }
    }

    .error-message {
      color: #ff0000;
      margin-top: 5px;
      font-size: 14px;
    }

    .success-message {
      color: #008000;
      margin-top: 10px;
      font-size: 16px;
      font-weight: bold;
    }

    button[type="submit"] {
      margin-top: 20px;
      padding: 10px 20px;
      border: 1px solid black;
      border-radius: 4px;
      background-color: white;
      color: black;
      font-size: 16px;
      font-weight: bold;
      font-family: "Montserrat";
      cursor: pointer;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: black;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
}
