@import "../../../styles/mixins.module.scss";
@media (max-width: 599px) {
  .mainContent {
    width: 95%;
    grid-template-rows: 1fr 1fr;
  }
}
@media (max-width: 450px) {
  .mainContent {
    width: 95%;
    grid-template-rows: 1fr 1fr;
  }
}
@media (min-width: 599px) {
  .mainContent {
    width: 95%;
    grid-template-columns: 1fr 1fr;
    img {
      height: 30rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1.1rem;
    }
    button {
      font-size: 1rem;
      padding: 0.5rem 3rem;
      box-sizing: border-box;
      width: 100%;
    }
  }
}
@media (min-width: 1200px) {
  .mainContent {
    width: 70%;
    height: unset;
    grid-template-columns: 1fr 1fr;
    .quote {
      h3 {
        font-size: 2rem;
      }
      p {
        font-size: 1.5rem;
        text-align: center;
        width: 50%;
      }
      button {
        font-size: 1.5rem;
        padding: 0.5rem 3rem;
        box-sizing: border-box;
        width: 100%;
      }
    }
  }
}
@media (min-width: 2400px) {
  .mainContent {
    width: 70%;
    height: unset;
    grid-template-columns: 1fr 1fr;
    .quote {
      h3 {
        font-size: 3rem;
      }
      p {
        font-size: 2.5rem;
        text-align: center;
        width: 50%;
      }
      button {
        font-size: 2.5rem;
        padding: 1.5rem 7rem;
        box-sizing: border-box;
        width: 100%;
      }
    }
  }
}

.mainContent {
  display: grid;
  place-content: center;
  place-items: center;
  margin-inline: auto;
  margin-block: 5rem;
  background-color: #fff9d6;

  img {
    width: 100%;
    height: 100%;
  }
  a {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: -3px;
      left: 0;
      background-color: black;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  button {
    all: unset;
    background: black;
    color: white;
    width: 7rem;
    text-align: center;
    font-family: "Rajdhani";
    cursor: pointer;
  }
}

.quote {
  display: grid;
  place-items: center;
  grid-gap: 1rem;
  h3 {
    font-family: "Montserrat";
    // font-size: 1.5rem;
  }
  p {
    font-family: "Montserrat";
    font-weight: 300;
    width: 50%;
    text-align: center;
    // font-size: 1rem;
  }
}
