@import "../../styles/mixins.module.scss";
.content {
  text-align: center;
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  h2 {
    // font-size: 1.5rem;
    font-weight: 400;
    @include for-phone-only {
      font-size: 0.9rem;
    }
    @media (min-width: 599px) {
      font-size: 1.2rem;
    }
    @include for-desktop-up {
      font-size: 1.5rem;
    }
  }
  h3 {
    font-weight: 300;
    // font-size: 1.3rem;
    @include for-phone-only {
      font-size: 0.7rem;
    }
    @media (min-width: 599px) {
      font-size: 1rem;
    }
    @include for-desktop-up {
      font-size: 1.3rem;
    }
  }

  a {
    all: unset;
    background-color: gray;
    padding: 0.6rem 2rem;
    border-radius: 8px;
    &:hover {
      cursor: pointer;
    }
  }
}
