@import "../../../styles/mixins.module.scss";

@media (max-width: 599px) {
  .trackingContainer {
    width: 90%;
  }

  .checkpoints {
    // margin-top: 2rem;
    display: grid;
    place-items: center;
    grid-gap: 3rem;
    .dottedLine {
      transform: rotate(90deg);
      width: 20%;
    }
  }
}
@media (max-width: 450px) {
  .trackingContainer {
    width: 90%;
  }

  .checkpoints {
    display: grid;
    place-items: center;
    grid-gap: 3rem;
    .dottedLine {
      transform: rotate(90deg);
      width: 20%;
    }
  }
}
@media (min-width: 599px) {
  .trackingContainer {
    width: 90%;
  }

  .checkpoints {
    display: grid;
    place-items: center;
    grid-gap: 3rem;
    .dottedLine {
      transform: rotate(90deg);
      width: 20%;
    }
  }
}
@media (min-width: 1200px) {
  .trackingContainer {
    width: 50%;
  }

  .checkpoints {
    display: flex;
    .dottedLine {
      width: unset;
      transform: unset;
    }
  }
}
@media (min-width: 2400px) {
  .trackingContainer {
    width: 50%;
  }

  .checkpoints {
    display: flex;
    .dottedLine {
      width: unset;
      transform: unset;
    }
  }
}

.trackingContainer {
  // max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  margin-top: 1rem;
  background-color: #f7f7f7;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.trackingTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.trackingId {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  margin-block: 2rem;
}

.trackingIdLabel {
  font-weight: bold;
  margin-right: 10px;
}

.trackingIdValue {
  font-weight: bold;
}

.checkpoints {
  // display: flex;
  align-items: center;
}

.checkpoint {
  display: flex;
  align-items: center;
}

.checkpointIcon {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 16px;
  color: #5e9cd3;
}

.checkpointText {
  font-size: 16px;
}

.dottedLine {
  flex: 1;
  border-top: 1px dotted #ccc;
}
